.footer {
  background-color: #000;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer-copyright {
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}
.footer-parrafo {
  margin: 0 auto;
  margin-top: 10px;
  font-size: 14px;
  max-width: 500px;
  text-align: center;
  font-weight: 500;
  color: #fff;
}
