.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 12px 25px;
  background-color: #000; 
  border-bottom: 1px solid #444; 
}

.navbar-logo {
  order: 2; 
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
  color: #fff; 
}
