.tabla-container {
  display: flex;
  justify-content: center; /* centra la tabla horizontalmente */
  margin: 20px 0;
}

.tabla-datos {
  border-collapse: collapse;
  width: 80%;
  text-align: left;
  font-family: Arial, sans-serif;
  color: black;
  font-size: 18px;

}

.tabla-datos th,
.tabla-datos td {
  padding: 12px 16px;
  border-bottom: 2px solid #000; 
}

.tabla-datos th {
  background-color: #b5f1ff; 
}
